.tabs {
margin-bottom: -1px !important;
position: relative;
}
.tab-content {
padding: 60px;
top: 197px;
color: #000;
background-color: white;
}
.tab-pane {
display: none;
}
.tab-pane.is-active {
display: block;
}
/*.tab-pane:focus{*/
/*	display: block;*/
/*}*/
.is-active {
display: initial;
}

.cent{
display: block;
margin: 10px auto;
padding: 5px;
border: 1px solid #ccc}

.video
{display: block;
margin: 0 auto;}

/* CSS from http://embedresponsively.com */
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

li.is-active{
	color: #3298dc!important
}

.link{
	color: #3298dc!important;
	font-weight: 500;
}

.link-color{
	color: #3298dc!important;
}

.link-bold{
	color: #3298dc!important;
	font-weight: 700;
}

.hero-body{
	padding: 1.5rem 1.5rem!important;
}

li{
	outline:none;
}

.icons{
	font-size: 24px;
}

.icons a {
	color: white!important;
}

.icon-flask{
	font-size: 22px;
	position: absolute;
	bottom: 7px;
	left: 52px;
	transform: translate(-1px, -1px);
}